.select:hover {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gutter {
	--bs-gutter-x: 0rem !important;
}

.txtcenter {
	text-align: center;
}

.txtright {
	text-align: right;
}

.flexcenter {
	display: flex;
	align-items: center;
}

.table>thead {
    vertical-align: top;
    height: 60px;
}