@media (max-width: 767px)  {


  .ng-scope{
    font-size: 9px;
   
  }
  }
  @media (min-width: 768px)  {
  .ng-scope{
    font-size: 19px;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 1%;
 
  }

  }

  .ng-scope{
      text-align: center;
      color: #c9c9c9;
  }
  .ami{
   font-size: 30px; text-align: center;color : #e01a22;
  }