<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid" style="background-color: #1a1a1a;font-family: 'Open Sans', sans-serif;">
    <div class="row " style="padding-top:5%">
        <p class="ami" > : التعريف القانوني
        </p>
    </div>
    <div class="row ">
        <div class="col-md-12" style="width: 100%;">
            <div>
                <p class="ng-scope">شركة النهوض بالرياضة هي منشأة عمومية خاضعة لإشراف وزارة الشباب والرياضة والتربية البدنية محدثة بمقتضى الفصول 67 إلى 70 من القانون عـ63ـدد لسنة 1984 المؤرّخ في 17 أوت 1984، وهي مكلفة بالنهوض بالأنشطة الرياضية و بتشجيع لتمويلها و ذلك بتنظيم مباريات و تكهنات رياضية و بكل العمليات التابعة لها. وهي بذلك أحدى أهم آليات التمويل العمومي للرياضة بتونس.</p>
                <p class="ami"> : هياكل التصرّف والمراقبة</p>
                <p class="ng-scope"> : يشرف على تصرّف شركة النهوض بالرياضة مجلس إدارة يرأسه الرئيس المدير العام للشركة ويتكوّن أعضاؤه من ممثّلي الوزارات التالية                </p>
                <p class="ng-scope"> الوزارة الأولى -</p>
                <p class="ng-scope"> وزارة الشباب والرياضة والتربية البدنية -               </p>
                <p class="ng-scope"> وزارة المالية -               </p>
                <p class="ng-scope">  وزارة التنمية والتعاون الدولي  -              </p>
                <p class="ng-scope"> وزارة الداخلية والتنمية المحلية -               </p>
                <p class="ng-scope">   الجامعة التونسية لكرة القدم -               </p>
                <p class="ami">: الأهداف</p>
                <p class="ng-scope">يتمثّل الهدف الأساسي لشركة النهوض بالرياضة في دعم الأنشطة الرياضية وذلك بتنظيم مسابقات لغرض تعبئة الموارد المالية لفائدة الصندوق الوطني للنهوض بالرياضة المحدث بمقتضى القانون عـ66ـدد لسنة 1979 المنقح بالقانون عـ106ـدد لسنة 1986 والذي نصّ على امتداد نشاط الصندوق إلى الأنشطة الشبابية. وقد ضبطت مداخيل الصندوق الوطني للنهوض بالرياضة بنسبة 50% من المقابيض الحاصلة بعنوان مسابقات التكهّنات الرياضية بعد خصم المنحة المسندة لبائعي بطاقات اللّعب.</p>
                <p class="ami">: الأنشطة                 </p>
                <p class="ng-scope">تنظّم الشركة مسابقات في التكهّنات بالنتائج النهائية لقائمة مباريات مختارة من البطولة الوطنية والبطولات الأوروبية ضمن مسابقة وطنية وأخرى عالمية. ويبلغ عدد مسابقات التكهّنات الرياضية حوالي 80 مسابقة سنويّا وذلك بمعدّل مسابقتين كل أسبوع طيلة الموسم الرياضي. وتوزّع مداخيل هذه المسابقات بعد خصم المنحة المسندة لبائعي القصاصات والمقدّرة بـ 10% كالآتي: · 50% لفائدة الصندوق الوطني للنهوض بالرياضة · 40% لفائدة الفائزين · 10% ميزانية تصرّف الشركة</p>
                <p class="ami"> النظام العام للمسابقات                </p>
                <p class="ng-scope">: يمكنك إنزال نسخة من النظام العام لمسابقات البروموسبور بإعتماد هذا الرابط    </p>
                <p class="ng-scope" style="font-weight: bold;">  <a class="ng-scope" href="http://www.promosport.tn/files//R__glement_g__n__ral_des_concours-arabe.pdf">نسخة</a> </p>
            </div>

        </div>

    </div>


</div>