<!-- <footer class="footer" style="bottom: 0">
  <div class="footer-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 hidden-md-down footer-menu">
          <h4 class="footer-title web">Liens utiles</h4>
          <ul class="vertical-nav footer-nav-wrapper web">
            <li class="footer-nav">
              <a routerLink="terms-conditions" title="Terms &amp; Conditions">Définition légale</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 flex-last footer-copyright">
          <div class="footer-copyright-top footer-title" style="text-align: center">
            <div id="ceg-f17ef8db-4775-49f0-b494-4b11b507bb28" data-ceg-seal-id="f17ef8db-4775-49f0-b494-4b11b507bb28"
              data-ceg-image-size="25" data-ceg-image-type="basic-small"></div>
            <b class="pr-1"> Promosport.tn © 2022 Tous droits réservés</b>
          </div>
          <p></p>
          <div style="text-align: center;" translate> Société de Promotion Sportive Centre Urbain Nord Rue Mohamed Ali
            Aqeed 2035 Quartier Olympique BP : 323 Tunis 1004 Téléphone : 71186200 Fax : 71.750654
          </div>
          <p></p>
        </div>

        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 hidden-md-down flex-last footer-social">
          <img src="../../../assets/img/pr.png" alt="">
        </div>
        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 hidden-md-down flex-last footer-social">
          <h4 class="footer-title" translate>réseaux sociaux</h4>
          <a href="https://www.facebook.com/PromosportTunisie/" title="facebook" class="footer-like" target="_blank"><i
              class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a title="youtube" class="footer-icon" target="_blank"><i class="fa fa-youtube-play"></i></a>
          <a title="instagram" class="footer-icon" target="_blank"><i class="fa fa-instagram"
              aria-hidden="true"></i></a>
        </div>

      </div>
    </div>
  </div>
</footer> -->

<footer>
  <div class="logo">
    <img src="../../../assets/img/pr.png" alt="">
  </div>
  <div class="links">
    <h4 class="footer-title web">Liens utiles</h4>
    <ul class="vertical-nav footer-nav-wrapper web">
      <li class="footer-nav">
        <a routerLink="terms-conditions" title="Terms &amp; Conditions">Définition légale</a>
      </li>
    </ul>
  </div>
  <div class="contact">
    <h4>Promosport.tn © 2022 Tous droits réservés</h4>
    <p translate> Société de Promotion Sportive Centre Urbain Nord Rue Mohamed Ali Aqeed
      2035 Quartier Olympique BP : 323 Tunis 1004 Téléphone : 71186200 Fax : 71.750654
    </p>
  </div>
  <div class="social-media">
    <h4 class="footer-title" translate>réseaux sociaux</h4>
    <div class="social-media__links">
      <a href="https://www.facebook.com/PromosportTunisie/" title="facebook" class="footer-like" target="_blank"><i
          class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a title="youtube" class="footer-icon" target="_blank"><i class="fa fa-youtube-play"></i></a>
      <a title="instagram" class="footer-icon" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>